*{
    box-sizing: border-box;
}



.signup-page{
    display: flex;
    background: cadetblue;
    flex-direction: column;  
    height: 100%;  
    
}
.signup-form-type{
    margin: auto;
}
.signup-form-type-select{
    width:20rem;
}
.signup-form{
    display: flex;
    flex-direction: column;
}
.signup-form-data{
   display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.form-items{
    width: 100%;
    margin:0 1rem;
}
.input-field{
    width:100%;
}
.create{
    /* text-align: center; */
    margin-left: 40%;
}

.submitbutton{
background-color: lightgreen;
padding: 10px;
margin-left:10rem;
}

.resetbutton{
    background-color: rgb(238, 182, 144);
padding: 10px;
margin-left:10rem;
}